/*------------------------------------------------------------------------------Base */

 
html {
    height: 100%;
    overflow-x: hidden;
  }
  body {
    text-rendering: optimizeLegibility;
    background-color: $bg-white;
    color: $color-black;
    font-weight: normal;
    position: relative;
    width: 100%;
    font: {
      family: $font-gz;
      size: $text-size;
    };
        
  }

h1,h2,h3,h4,h5,h6,p,a,small,span,div,ul,li{
    font-family: $font-gz;
}

h1{
    font-size: $big-size;     

    @media (max-width: $screen-md){
        font-size:  $big-tablets-size;
    }

    @media (max-width: $screen-sm){
        font-size:  $big-mobile-size;
    }
}
