/*-----------font-family-----------*/
    $font-gz: 'Prompt', sans-serif;

    /*font-weight*/
    $thin-weight:      300;
    $regular-weight:   400;
    $bold-weight:      800;
/*-----------font-family-----------*/

/*-----------font-size-----------*/

    /*Titles*/
    $big-size:                  50px; /*titles desktop*/
    $big-tablets-size:          40px; /*titles tablets 1199px*/
    $big-mobile-size:           30px; /*titles mobile 991px*/
    $big-mobile-small-size:     28px; /*titles mobile small 768px*/

    /*SubTitles*/
    $medium-size:               35px; /*SubTitles desktop*/
    $medium-tablets-size:       28px; /*SubTitles tablets 1199px*/
    $medium-mobile-size:        25px; /*SubTitles mobile 991px*/
    $medium-mobile-small-size:  19px; /*SubTitles mobile small 768px*/


    /*text*/
    $text-size:               16px; /*SubTitles desktop*/
    $text-tablets-size:       15px; /*SubTitles tablets 768px*/
    $text-mobile-size:        14px; /*SubTitles mobile 320px*/

    /*text small*/
    $text-small-size:         12px;
/*-----------font-size-----------*/

/*-----------font-color-----------*/

    /*colors-basic*/
    $color-white:   #FFFFFF;
    $color-black:   #000000;
    $color-primary: #41D7A7;
    $color-dark:    #333333;

/*-----------font-color-----------*/

/*-----------Bg colors-----------*/

    /*background colors-basic*/
    $bg-black:  #000000;
    $bg-white:  #FFFFFF;
    $bg-gray:   #C4C4C4;

    /*background colors-page*/
    $bg-dark:    #333333;
    $bg-primary: #41D7A7;

/*-----------Bg colors-----------*/


/*-----------media query-----------*/
    $screen-md:                1199px;
    $screen-sm:                 991px;
    $screen-xs-tablet:          768px;
    $screen-xs-small-tablets:   767px;
    $screen-standar-mobile:     425px;
    $screen-medium-mobile:      375px;
    $screen-small-device:       320px;
/*-----------media query-----------*/